@page "/Branches"
@using BlazorServer.Resources
@using BlazorServer.Services
@inject ApiService _apiService
@using AutoMapper
@using SharedLibrary.Arguments
@inject IMapper _mapper
@inject IClientOperations _clientOperations
@using Syncfusion.Blazor.Grids

<div>
    @if (IsProcessingItem)
    {
        <div>
            <BranchCreateOrUpdateComponent EditModel="FModel"
                                      OnCancelClicked="CancelClicked"
                                      OnSubmitClicked="SubmitClicked" />
        </div>
    }
    else
    {
        <div>
            <CustomFullGridComponent DTO="BranchDto"
                                 SfDataManagerUrl="api/Branches/GetBranches"
                                 Edit="Edit"
                                 Delete="Delete"
                                 Add="Add">
                <GridColumnsTemplate>
                    <GridColumn Field=@nameof(BranchDto.Hash) HeaderText="Hash"></GridColumn>
                    <GridColumn Field=@nameof(BranchDto.Name) HeaderText="Name"></GridColumn>
                    <GridColumn Field=@nameof(BranchDto.Address) HeaderText="Address"></GridColumn>
                    <GridColumn Field="Brand.Name" HeaderText="Brand Name"></GridColumn>
                    <GridColumn Field="Machine.Name" HeaderText="Machine Name"></GridColumn>
                    <GridColumn Field=@nameof(BranchDto.Notes) HeaderText="Notes"></GridColumn>
                </GridColumnsTemplate>
            </CustomFullGridComponent>
        </div>
    }

</div>
@code {
    private bool IsProcessingItem { get; set; } = false;
    public BranchCreateFM FModel { get; set; } = null;

    public async Task<bool> Add(bool added)
    {
        IsProcessingItem = true;

        StateHasChanged();

        return false;
    }

    public async Task SubmitClicked(SubmitClickedArg submitClickedArg)
    {

        IsProcessingItem = false;

        if (submitClickedArg.IsNewRecord)
        {
            if (submitClickedArg.IsSuccess)
            {
                await _clientOperations.ShowToast("Create", "Created Successfully", "success");
            }
            else
            {
                await _clientOperations.ShowToast("Error", "Mission Incompleted", "error");
            }
        }
        else
        {
            if (submitClickedArg.IsSuccess)
            {
                await _clientOperations.ShowToast("Edit", "Updated Successfully", "success");
            }
            else
            {
                await _clientOperations.ShowToast("Error", "Mission Incompleted", "error");
            }
            FModel = null;
        }
    }

    public async Task CancelClicked()
    {
        IsProcessingItem = false;
        FModel = null;
    }

    public async Task Edit(BranchDto dto)
    {
        IsProcessingItem = true;

        FModel = _mapper.Map<BranchCreateFM>(dto);

        StateHasChanged();
    }

    public async Task<bool> Delete(BranchDto dto)
    {
        //ActionsDisabled = true;

        var response = _apiService.HttpClient.PostAsJsonAsync("api/Branches/DeleteBranch", dto.Hash);
        bool result = await response.Result.Content.ReadFromJsonAsync<bool>();
        if (!result)
        {
            await _clientOperations.ShowToast("Error", "Mission Incompleted", "error");
            return result;
        }
        else
        {
            await _clientOperations.ShowToast("Delete", "Deleted Successfully", "success");
            return result;

            //ActionsDisabled = false;
        }
    }

}
