@inherits LayoutComponentBase
@inject IJSRuntime JS
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using BlazorServer.Services
@inject IClientOperations _clientOperations

<AuthorizeView>
    <Authorized>
        <PageTitle>BlazorServer</PageTitle>

        <div>
            <NavMenu />

        </div>
        <div class="col-lg-12 control-section toast-default-section">
            <SfToast ID="toast_default" @ref="_clientOperations.ToastObj"
                     Target="#Control-Region" ShowCloseButton="true"
                     ShowProgressBar="true" Title="@_clientOperations.Title"
                     Content="@_clientOperations.Content" Timeout="5000" Icon="e-meeting">
                <ToastPosition X="Right"></ToastPosition>
            </SfToast>
        </div>
        <div>
            <div class="header">
                <HeaderComponent />
            </div>

            <div class="content-wrap">
                <div class="main">
                    <div class="content" id="Control-Region">
                        <div class="row">
                            <div class="col-lg-12 p-r-0 title-margin-left">
                                @Body
                            </div>
                            <!-- /# column -->
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </Authorized>
    <NotAuthorized>

        <div>
            <div class="col-lg-12 control-section toast-default-section">
                <SfToast ID="toast_default" @ref="_clientOperations.ToastObj"
                         Target="#Control-Region" ShowCloseButton="true"
                         ShowProgressBar="true" Title="@_clientOperations.Title"
                         Content="@_clientOperations.Content" Timeout="5000" Icon="e-meeting">
                    <ToastPosition X="Right"></ToastPosition>
                </SfToast>
            </div>

            <div class="header">

                <HeaderComponent />

            </div>

            <div class="content-wrap">
                <div class="main">
                    <div class="content px-4" id="Control-Region">
                        @Body
                    </div>
                </div>

            </div>

        </div>
    </NotAuthorized>
</AuthorizeView>


@code
{

}