@using Microsoft.AspNetCore.Mvc
@inject ApiService _apiService
@using Microsoft.JSInterop;
@inject IJSRuntime jsRuntime;

<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">

    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo">
                    <a href="/">
                        <img src="assets/images/logo.png" alt="" /><span>Blazor Server</span>
                    </a>
                </div>
                <li class="label">Main</li>
                <li>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> <span class="displayText">Dashboard</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/IntegratorsRegistration">
                        <i class="ti-calendar"></i> <span>Integrators</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/Brands">
                        <i class="ti-calendar"></i> <span>Brands</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/MachineLogs">
                        <i class="ti-calendar"></i> <span>Machine Logs</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/Sites">
                        <i class="ti-calendar"></i> <span>Sites</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/Zones">
                        <i class="ti-calendar"></i> <span>Zones</span>
                    </NavLink>
                </li>
                <li>
                    <a href="Identity/Account/LogOut"><i class="ti-close"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
