@page "/Brands"
@using BlazorServer.Resources
@using BlazorServer.Services
@inject ApiService _apiService
@using AutoMapper
@using SharedLibrary.Arguments
@inject IMapper _mapper
@inject IClientOperations _clientOperations
@using Syncfusion.Blazor.Grids

<div>
    @if (IsProcessingItem)
    {
        <div>
            <BrandCreateOrUpdateComponent EditModel="FModel"
                                      OnCancelClicked="CancelClicked"
                                      OnSubmitClicked="SubmitClicked" />
        </div>
    }
    else
    {
        <div>
            <BreadCrumbComponent Items="BreadCrumbItems" />
        </div>

        <div>
            <CustomFullGridComponent DTO="BrandDto"
                                 SfDataManagerUrl="api/Brands/GetBrands"
                                 Edit="Edit"
                                 Delete="Delete"
                                 Add="Add">
                <GridColumnsTemplate>
                    <GridColumn Field=@nameof(BrandDto.Id) HeaderText="Id"></GridColumn>
                    <GridColumn Field=@nameof(BrandDto.Name) HeaderText="Name"></GridColumn>
                    <GridColumn Field=@nameof(BrandDto.Notes) HeaderText="Notes"></GridColumn>
                </GridColumnsTemplate>
            </CustomFullGridComponent>
        </div>
    }

</div>
@code {

       private List<Tuple<string, string, bool>> BreadCrumbItems { get; set; } = new List<Tuple<string, string, bool>>()
    {
        new Tuple<string, string, bool>("Dashboard", "/", false ),
        new Tuple<string, string, bool>("Brands", "/Brands", true )
    };



    private bool IsProcessingItem { get; set; } = false;
    public BrandCreateFM FModel { get; set; } = null;

    public async Task<bool> Add(bool added)
    {
        IsProcessingItem = true;

        StateHasChanged();

        return false;
    }

    public async Task SubmitClicked(SubmitClickedArg submitClickedArg)
    {

        IsProcessingItem = false;

        if (submitClickedArg.IsNewRecord)
        {
            if (submitClickedArg.IsSuccess)
            {
                await _clientOperations.ShowToast("Create", "Created Successfully", "success");
            }
            else
            {
                await _clientOperations.ShowToast("Error", "Mission Incompleted", "error");
            }
        }
        else
        {
            if (submitClickedArg.IsSuccess)
            {
                await _clientOperations.ShowToast("Edit", "Updated Successfully", "success");
            }
            else
            {
                await _clientOperations.ShowToast("Error", "Mission Incompleted", "error");
            }
            FModel = null;
        }
    }

    public async Task CancelClicked()
    {
        IsProcessingItem = false;
        FModel = null;
    }

    public async Task Edit(BrandDto dto)
    {
        IsProcessingItem = true;

        FModel = _mapper.Map<BrandCreateFM>(dto);

        StateHasChanged();
    }

    public async Task<bool> Delete(BrandDto dto)
    {
        //ActionsDisabled = true;

        var response = _apiService.HttpClient.PostAsJsonAsync("api/Brands/DeleteBrand", dto.Id);
        bool result = await response.Result.Content.ReadFromJsonAsync<bool>();
        if (!result)
        {
            await _clientOperations.ShowToast("Error", "Mission Incompleted", "error");
            return result;
        }
        else
        {
            await _clientOperations.ShowToast("Delete", "Deleted Successfully", "success");
            return result;

            //ActionsDisabled = false;
        }
    }

}
