@page "/counter"
@inject HttpClient _http;
@using System.Net.Http.Json;

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        _http.BaseAddress = new Uri("https://localhost:5001/");
        var respone = await _http.GetAsync("api/Seeding/Init");
        if (respone.IsSuccessStatusCode)
        {
            Console.WriteLine("aaaaaaaaaaakdjkasjdk");
        }

        currentCount++;
    }
}
