@page "/IntegratorsRegistration"

<div>
    <IntegratorsRegistrationIndexComponent></IntegratorsRegistrationIndexComponent>
</div>
<hr />
<div>
    <IntegratorsRegistrationCreateOrUpdateComponent></IntegratorsRegistrationCreateOrUpdateComponent>
</div>

@code {

}
