@using BlazorServer.Extensions
@using BlazorServer.Services
@using System.Net.Http.Headers
@inject ApiService _apiService
@inject IConfiguration configuration
@using FluentValidation;
@using FluentValidation.Validators;
@inject IClientOperations _clientOperations
@inject IJSRuntime JS

<div>

    @if (FModel != null)
    {
        <h3>Machine Registration</h3>

        <EditForm OnValidSubmit="Submit" Model="FModel">
            <FluentValidator />
            <div class="row">
                <div class="col-6">
                    <InputText id="Hash" class="form-control" @bind-Value="@FModel.Hash" placeholder="Hash" /><br />
                    <ValidationMessage For="() => FModel.Hash"></ValidationMessage>
                </div>
                <div class="col-6">
                    <InputText id="MachineName" class="form-control" @bind-Value="@FModel.MachineName" placeholder="Machine Name" /><br />
                    <ValidationMessage For="() => FModel.MachineName"></ValidationMessage>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <InputText id="Notes" class="form-control" @bind-Value="@FModel.Notes" placeholder="Notes" /><br />
                    <ValidationMessage For="() => FModel.Notes"></ValidationMessage>
                </div>
            </div>
            <button id="Save" type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    }
</div>

@code {
    public MachineRegistrationFM FModel { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        FModel = new MachineRegistrationFM();
    }

    protected async Task Submit()
    {

        SystemGuid systemGuid = new SystemGuid();

        var finger = systemGuid.ValueAsync();
        Console.WriteLine("finger from blazor client: ");
        Console.WriteLine(finger);

        var response = await _apiService.HttpClient.PostAsJsonAsync<MachineRegistrationFM>("api/Machine/RegisterMachine", FModel);
        string registerRes = await response.Content.ReadAsStringAsync();


        if (!response.IsSuccessStatusCode)
        {
            await _clientOperations.ShowToast("Error", $"{registerRes}", "error");
        }
        else
        {
            await _clientOperations.ShowToast($"{FModel.MachineName}", $"{registerRes}", "success");
        }

        StateHasChanged();
    }
}
