@page "/ChangeStatus"
@using System.Net.Http.Headers
@using LocalMachine.Extensions
@using global::Shared.Commands
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient _http

<div class="container">
    <input type="text" id="Hash" class="form-control" @bind="@Hash" placeholder="Hash" /><br />
    <input type="button" id="AddThisMachine" value="AddThisMachine" class="btn btn-primary" @onclick="@AddThisMachine" />
</div>

@code {
    public string Notes { get; set; }
    public int StatusId { get; set; }
    public int BrandId { get; set; }
    public int BranchId { get; set; }
    public string Hash { get; set; }
    public MessageCommand Request { get; set; }


    protected override async Task OnInitializedAsync()
    {
        //_hubUrl = "https://localhost:7029/MessagingHub";
        //connection = new HubConnectionBuilder().WithUrl(_hubUrl).Build();

        //connection.On<MessageCommand>("ReceiveMessage", this.ReceiveMessage);
    }

        private async Task AddThisMachine()
    {
        SystemGuid guid = new SystemGuid();

       var serialNo = guid.ValueAsync();


        Request = new MessageCommand()
            {
                BrandId = BrandId,
                BranchId = BranchId,
                Notes = Notes,
                connId = " ",
                StatusId = StatusId,
                Hash = Hash,
            };

        var respone = _http.PostAsJsonAsync("https://localhost:7032/api/Message/GetMessageStatus", Request);
        string res = await respone.Result.Content.ReadAsStringAsync();

    }

}
