@using System.Net.Http.Headers
@using LocalMachine.Extensions
@using global::Shared.Commands
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient _http

<div class="container">
    <input type="text" id="Hash" class="form-control" @bind="@Hash" placeholder="Hash" /><br />
    <input type="button" id="AddThisMachine" value="AddThisMachine" class="btn btn-primary" @onclick="@AddThisMachine" />
</div>

@code {
    public string Hash { get; set; }
    public SubmitMachineCommand Request { get; set; }


    private async Task AddThisMachine()
    {
        SystemGuid guid = new SystemGuid();

        var fingerPrint = guid.ValueAsync();


        Request = new SubmitMachineCommand()
            {
                FingerPrint = fingerPrint
            };

        var respone = _http.PostAsJsonAsync("https://localhost:7032/api/MachineRegistration/SubmitMachine", Request);
        string res = await respone.Result.Content.ReadAsStringAsync();

    }

}
